<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_storelocator>
            <general>
                <google_maps_api_key></google_maps_api_key>
                <default_radius>10</default_radius>
            </general>
        </etechflow_storelocator>
    </default>
</config>
