<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="etechflow" translate="label" sortOrder="300">
            <label>Etechflow</label>
        </tab>
        <section id="etechflow_storelocator" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Locator</label>
            <tab>etechflow</tab>
            <resource>Etechflow_StoreLocator::stores</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="google_maps_api_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API Key</label>
                    <comment>Enter your Google Maps JavaScript API key.</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="default_radius" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Search Radius (km)</label>
                    <comment>Default radius in kilometres used for the store finder search.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
